extends layout

block content
  h1 Token List
  
  each set in sets
    div.setWrapper
        h4= set.name + ' (' + set.code + ')'
        if !set.error
            table
                tr
                    th.tImg Pic
                    th.tName Name
                    th.tDetail Detail
                    th.tColor Color(s)
                    th.tText Keywords
                    th.tCards Related Cards
                    th.tSets Other Sets
                each token in set.tokens
                    tr
                        td.tImg
                            a(href=`https://api.scryfall.com/cards/${token.id.scryfall}?format=image` target="_blank")
                                span.thumbnail(id=token.id.scryfall)
                        td.tName= token.name
                        td.tDetail= token.footer || token.types
                        td.tColor= token.colors.join ? token.colors.join(', ') || 'C' : 'Missing'
                        td.tText= token.keywords
                        td.tCards
                            each card,idx in token.reverseRelated
                                if idx
                                    span= ', '
                                a(href=card.url target="_blank")= card.name
                            //-= token.reverseRelated.join ? token.reverseRelated.join(', ') : 'Missing'
                        td.tSets= token.altSets.join ? token.altSets.join(', ') + ' ('+token.altSets.length+')' : 'Missing'
        else
            i= set.error
    
block footer
    script(src=fixUrl('/javascripts/getImages.js'))